body {
    background: #1b1b1b;
    color: white;
}
#sym
{
display: block;


}
#rejestry
{
float: left;


}
#komendy
{
}
input:hover
{
    background: #656565;
    transition-duration: 0.2s;
    color: white;
}
select:hover {
    background: #656565;
    transition-duration: 0.2s;
    color: white;
}